## System URL without a trailing slash
#set ( $url = "http://localhost:8080" )
## Edit or open
#set ( $action = "edit" )

## Get the system-page 'id'
#set ( $page = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/calling-page/system-page") )
#set ( $id = $page.getAttribute("id").value )

## Get the formatted 'last-modified' date
#set ( $last = $page.getChild("last-modified").value )
#set ( $obj  = $_DateTool.getDate($last) )

#set ( $link = "${url}/entity/${action}.act?type=page&amp;id=${id}#highlight" )

Last updated: <a href="${link}">$_DateTool.format("MM/dd/yyyy", $obj)</a>