## Common variables, references, macros, etc that can be reused via import.

## Global variables.
#set ( $cascadeLogin = "http://cascade.example.edu" )
#set ( $websiteURL   = "http://www.example.edu" )
#set ( $extension    = ".html" )
#set ( $defaultPage  = "index" )

## Locator Tool.
#set ( $currentPage = $_.locatePage($currentPagePath, $currentPageSiteName) )

## Working with wired metadata.
#set ( $display     = $currentPage.metadata.displayName )
#set ( $title       = $currentPage.metadata.title )
#set ( $summary     = $currentPage.metadata.summary )
#set ( $teaser      = $currentPage.metadata.teaser )
#set ( $keywords    = $currentPage.metadata.keywords )
#set ( $description = $currentPage.metadata.description )
#set ( $author      = $currentPage.metadata.author )
#set ( $start       = $currentPage.metadata.startDate )
#set ( $end         = $currentPage.metadata.endDate )

#set ( $_display     = $_EscapeTool.xml($display) )
#set ( $_title       = $_EscapeTool.xml($title) )
#set ( $_summary     = $_EscapeTool.xml($summary) )
#set ( $_teaser      = $_EscapeTool.xml($teaser) )
#set ( $_keywords    = $_EscapeTool.xml($keywords) )
#set ( $_description = $_EscapeTool.xml($description) )
#set ( $_author      = $_EscapeTool.xml($author) )

## Common Data Definition WYSIWYG.
#set ( $content  = $currentPage.getStructuredDataNode("content").textValue )

## Working with dates.
## The whitespace is removed to help form RSS/Atom feed.
#macro ( showDate $dateValue $formatString )
#if ( $dateValue != "" )
#set ( $dateObject = $_DateTool.getDate($dateValue) )
#else
#set ( $dateObject = $_DateTool.getDate() )
#end
#set ( $dateString = $_DateTool.format($formatString, $dateObject) )
${dateString}
#end
#macro ( convertDate $dateType $dateValue $formatString )
#if ( $dateType == "chooser" )
#set ( $dateObject = $_DateTool.toDate("MMM d, yyyy h:mm a", $dateValue) )
#elseif ( $dateType == "picker" )
#set ( $dateObject = $_DateTool.toDate("mm-dd-yyyy", $dateValue) )
#elseif ( $dateType == "locator" )
#set ( $dateObject = $dateValue )
#else
## Format not captured. Additional formats can be added here.
#end
#set ( $dateString = $_DateTool.format($formatString, $dateObject) )
${dateString}
#end

## Working with dynamic metadata.
#macro ( dmv $name )
    ${currentPage.metadata.getDynamicField($name).value}
#end
#macro ( _dmv $name )
    #set ( $dmv = $currentPage.metadata.getDynamicField($name).value )
    $_EscapeTool.xml($dmv)
#end
#macro ( dmvs $name )
    ${currentPage.metadata.getDynamicField($name).values}
#end
#macro ( _dmvs $name $delim )
    #set ( $dmvs = $currentPage.metadata.getDynamicField($name).values )
    $_EscapeTool.xml($_DisplayTool.list($dmvs, $delim))
#end
