## Common variables, references, macros, etc that can be reused via import.

#set ( $url     = "http://cascade.example.edu" )
#set ( $domain  = "http://www.example.edu" )
#set ( $ext     = ".html" )
#set ( $default = "index" )

#set ( $sib  = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ( $page = $_XPathTool.selectSingleNode($sib, "calling-page/system-page") )
#set ( $data = $page.getChild("system-data-structure") )

#set ( $display     = $page.getChild("display") )
#set ( $title       = $page.getChild("title") )
#set ( $summary     = $page.getChild("summary") )
#set ( $teaser      = $page.getChild("teaser") )
#set ( $keywords    = $page.getChild("keywords") )
#set ( $description = $page.getChild("description") )
#set ( $author      = $page.getChild("author") )
#set ( $start       = $page.getChild("start-date") )
#set ( $end         = $page.getChild("end-date") )

#set ( $_display     = $_EscapeTool.xml($display.value) )
#set ( $_title       = $_EscapeTool.xml($title.value) )
#set ( $_summary     = $_EscapeTool.xml($summary.value) )
#set ( $_teaser      = $_EscapeTool.xml($teaser.value) )
#set ( $_keywords    = $_EscapeTool.xml($keywords.value) )
#set ( $_description = $_EscapeTool.xml($description.value) )
#set ( $_author      = $_EscapeTool.xml($author.value) )

## The whitespace is removed because the whitespace is captured
## when using these for an RSS feed.
#macro ( showDate $dateValue $formatString )
#if ( $dateValue != "" )
#set ( $dateObject = $_DateTool.getDate($dateValue) )
#else
#set ( $dateObject = $_DateTool.getDate() )
#end
#set ( $dateString = $_DateTool.format($formatString, $dateObject) )
${dateString}
#end
#macro ( convertDate $dateType $dateValue $formatString )
#if ( $dateType == "chooser" )
#set ( $dateObject = $_DateTool.toDate("MMM d, yyyy h:mm a", $dateValue) )
#elseif ( $dateType == "picker" )
#set ( $dateObject = $_DateTool.toDate("mm-dd-yyyy", $dateValue) )
#elseif ( $dateType == "locator" )
#set ( $dateObject = $_DateTool.toDate("EEE MMM dd HH:mm:ss zzz yyyy", $dateValue) )
#else
## Format not captured.
#end
#set ( $dateString = $_DateTool.format($formatString, $dateObject) )
${dateString}
#end

#macro ( dynamicMetadata $name )
    #set ( $dm = $_XPathTool.selectSingleNode($page, "dynamic-metadata[name='${name}']/value") )
#end
#macro ( _dynamicMetadata $name )
    #dynamicMetadata($name)
    $_EscapeTool.xml($dm.value)
#end

#macro ( dynamicMetadataValues $name )
    #set ( $dm = $_XPathTool.selectNodes($page, "dynamic-metadata[name='${name}']/value") )
#end
#macro ( _dynamicMetadataValues $name )
    #dynamicMetadataValues($name)
    #set ( $list = "" )
    #foreach ( $d in $dm )
        #set ( $list = $list + $_EscapeTool.xml($d.value) )
        #if ( $foreach.hasNext )
            #set ( $list = $list + ", " )
        #end
    #end
    ${list}
#end

#set ( $content  = $data.getChild("content") )
#set ( $_content = $_SerializerTool.serialize($content, true) )
