## Common variables, references, macros, etc that can be reused via import.

#set ( $url     = "http://cascadeserver.example.edu" ) ## Cascade Server login URL
#set ( $domain  = "http://www.example.edu" )           ## Public website domain
#set ( $ext     = ".html" )
#set ( $default = "index" )

#set ( $currentPage = $_.locatePage($currentPagePath, $currentPageSiteName) )

#set ( $display     = $currentPage.metadata.displayName )
#set ( $title       = $currentPage.metadata.title )
#set ( $summary     = $currentPage.metadata.summary )
#set ( $teaser      = $currentPage.metadata.teaser )
#set ( $keywords    = $currentPage.metadata.keywords )
#set ( $description = $currentPage.metadata.description )
#set ( $author      = $currentPage.metadata.author )
#set ( $start       = $currentPage.metadata.startDate )
#set ( $end         = $currentPage.metadata.endDate )

#set ( $_display     = $_EscapeTool.xml($display) )
#set ( $_title       = $_EscapeTool.xml($title) )
#set ( $_summary     = $_EscapeTool.xml($summary) )
#set ( $_teaser      = $_EscapeTool.xml($teaser) )
#set ( $_keywords    = $_EscapeTool.xml($keywords) )
#set ( $_description = $_EscapeTool.xml($description) )
#set ( $_author      = $_EscapeTool.xml($author) )

#set ( $content  = $currentPage.getStructuredDataNode("content").textValue )

## The whitespace is removed because the whitespace is captured
## when using these for an RSS feed.
#macro ( showDate $dateValue $formatString )
#if ( $dateValue != "" )
#set ( $dateObject = $_DateTool.getDate($dateValue) )
#else
#set ( $dateObject = $_DateTool.getDate() )
#end
#set ( $dateString = $_DateTool.format($formatString, $dateObject) )
${dateString}
#end
#macro ( convertDate $dateType $dateValue $formatString )
#if ( $dateType == "chooser" )
#set ( $dateObject = $_DateTool.toDate("MMM d, yyyy h:mm a", $dateValue) )
#elseif ( $dateType == "picker" )
#set ( $dateObject = $_DateTool.toDate("mm-dd-yyyy", $dateValue) )
#elseif ( $dateType == "locator" )
#set ( $dateObject = $dateValue )
#else
## Format not captured.
#end
#set ( $dateString = $_DateTool.format($formatString, $dateObject) )
${dateString}
#end

#macro ( dynamicMetadata $name )
    #set ( $dm = $currentPage.metadata.getDynamicField($name).value )
    
#end
#macro ( _dynamicMetadata $name )
    #dynamicMetadata($name)
    $_EscapeTool.xml($dm)
#end

#macro ( dynamicMetadataValues $name )
    #set ( $dms = $currentPage.metadata.getDynamicField($name).values )
#end
#macro ( _dynamicMetadataValues $name $delim )
    $_EscapeTool.xml($_DisplayTool.list($currentPage.metadata.getDynamicField($name).values, $delim))
#end
