#set ( $domain = "http://www.example.edu" )
#set ( $ext    = ".html" )
#set ( $format = "EEE, dd MMM yyyy HH:mm:ss zzz" )

#set ( $items = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-page[not(contains(path,'base'))]") )

$_SortTool.addSortCriterion("start-date", "en", "number", "descending", "upper-first")
$_SortTool.sort($items)

<rss version="2.0">
<channel>
    <title>News Site</title>
    <link>${domain}</link>
    <description>The latest news for the site.</description>
    <language>en-us</language>
    <pubDate>#showDate("", $format)</pubDate>
    <generator>Cascade Server</generator>
    <webMaster>webmaster@example.edu (Webmaster)</webMaster>
#if ( $items.size() > 0 )
#foreach ( $item in $items )
    #set ( $path    = $item.getChild("path").value )
    #set ( $date    = $item.getChild("last-modified").value )
    #set ( $title   = $item.getChild("title") )
    #set ( $summary = $item.getChild("summary") )
    #set ( $url = "${domain}${path}${ext}" )
    <item>
        <title>$_EscapeTool.xml($title.value)</title>
        <link>${url}</link>
        <description>$_EscapeTool.xml($summary.value)</description>
        <pubDate>#showDate($date, $format)</pubDate>
        <guid>${url}</guid>
    </item>
#end
#end
</channel>
</rss>

#macro ( showDate $dateValue $formatString )
#if ( $dateValue != "" )
#set ( $dateObject = $_DateTool.getDate($dateValue) )
#else
#set ( $dateObject = $_DateTool.getDate() )
#end
#set ( $dateString = $_DateTool.format($formatString, $dateObject) )
${dateString}
#end
