#set ( $rssDateFormat = "EEE, dd MMM yyyy HH:mm:ss z" )
#set ( $baseUrl = "http://www.example.edu" )
#set ( $pageExtension = ".html" )

#macro ( outputItem $item )
  ## Record the basic information.
  #set ( $pubDate = $_DateTool.getDate($item.getChild("last-modified").value).getTime() )
  #set ( $path = $item.getChild("path") )
  #set ( $title = $item.getChild("title") )
  #set ( $summary = $item.getChild("summary") )

  <item>
    <title>${_EscapeTool.xml($title.value)}</title>
    <link>${baseUrl}${path.value}${pageExtension}</link>
    <pubDate>${_DateTool.format($rssDateFormat, $pubDate)}</pubDate>
    <description>${_EscapeTool.xml($summary.value)}</description>
  </item>
#end


#set ( $currentTime = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/@current-time").value )
#set ( $currentPage = $_XPathTool.selectSingleNode($contentRoot, "//calling-page/system-page") )
#set ( $items = $_XPathTool.selectNodes($contentRoot, "//system-page[not(@current)]") )
<rss version="2.0"><channel>
  <title>${_EscapeTool.xml($currentPage.getChild("title").value)}</title>
  <link>${baseUrl}${currentPage.getChild("path").value}${pageExtension}</link>
  <pubDate>${_DateTool.format($rssDateFormat, $_DateTool.getDate($currentTime))}</pubDate>
#if ($items.size() > 0)
  $_SortTool.addSortCriterion("last-modified", "", "number", "ascending", "upper-first")
  $_SortTool.sort($items)
  #foreach ($item in $items)
    #set ( $output = "#outputItem($item)" )
    $output.trim()
  #end
#end
</channel></rss>