## Root domain where feed is hosted
#set ( $domain = "http://www.example.edu" )
## Page extension
#set ( $extension = ".html" )
## RSS date format
#set ( $format = "EEE, dd MMM yyyy HH:mm:ss zzz" )
## Helper for filtering out base assets
#set ( $base = "base-asset" )

#set ( $items = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-page[start-date][not(contains(path,'${base}'))]") )

$_SortTool.addSortCriterion("start-date", "en", "number", "descending", "upper-first")
$_SortTool.sort($items)

<rss version="2.0">
<channel>
    #set ( $pub = "#showDate('', $format)" )
    <title>News Site</title>
    <link>${domain}</link>
    <description>The latest news for the site.</description>
    <language>en-us</language>
    <pubDate>${pub.trim()}</pubDate>
    <generator>Cascade Server</generator>
    <webMaster>webmaster@example.edu (Webmaster)</webMaster>
    #foreach ( $item in $items )
        #set ( $output = "#outputItem($item)" )
        $output.trim()
    #end
</channel>
</rss>

#macro ( outputItem $item )
    #set ( $path    = $item.getChild("path").value )
    #set ( $start   = $item.getChild("start-date").value )
    #set ( $date    = "#showDate($last, $format)" )
    #set ( $title   = $item.getChild("title") )
    #set ( $summary = $item.getChild("summary") )
    #set ( $url     = "${domain}${path}${extension}" )
    <item>
        <title>$_EscapeTool.xml($title.value)</title>
        <link>${url}</link>
        <description>$_EscapeTool.xml($summary.value)</description>
        <pubDate>${date.trim()}</pubDate>
        <guid>${url}</guid>
    </item>
 #end

#macro ( showDate $dateValue $formatString )
#if ( $dateValue != "" )
#set ( $dateObject = $_DateTool.getDate($dateValue) )
#else
#set ( $dateObject = $_DateTool.getDate() )
#end
#set ( $dateString = $_DateTool.format($formatString, $dateObject) )
${dateString}
#end
