#set ( $defaultPage = "index" )
#set ( $separator = "&#187;" )

## Gather items for breadcrumb
#set ( $trail = $_XPathTool.selectNodes($contentRoot, "//system-folder") )
## Reference the current page
#set ( $page = $_XPathTool.selectSingleNode($contentRoot, "//system-page[@current]") )

<ul>

## Define a loop
#foreach ( $crumb in $trail )
    ## Reference to the title node
    ## Reference to the display-name node
    #set ( $folderTitle       = $_XPathTool.selectSingleNode($crumb, "title") )
    #set ( $folderDisplayName = $_XPathTool.selectSingleNode($crumb, "dynamic-metadata[name='breadcrumb']/value") )
    
    #if ( $_XPathTool.selectSingleNode($crumb, "dynamic-metadata[name='breadcrumb']/value") && $folderDisplayName.value != "" )
        #set ( $theFolderTitle = $folderDisplayName )
    #elseif ( $_XPathTool.selectSingleNode($crumb, "title") && $folderTitle.value != "" )
        #set ( $theFolderTitle = $folderTitle )
    #else
        #set ( $theFolderTitle = $crumb.getChild("name") )
    #end
    
    ## Value of the link node
    #set ( $link = $crumb.getChild("link").value )
    
    ## Check for 'current' attribute
    #if ( $crumb.getAttribute("current") )
        ## Test page name
        #if ( $page.getChild("name").value == "${defaultPage}" )
            <li>$_EscapeTool.xml($theFolderTitle.value)</li>
        #else
            <li><a href="${link}/${defaultPage}">$_EscapeTool.xml($theFolderTitle.value)</a></li>
            
            ## Reference to the title node
            ## Reference to the display-name node
            #set ( $pageTitle       = $_XPathTool.selectSingleNode($page, "title") )
            #set ( $pageDisplayName = $_XPathTool.selectSingleNode($page, "dynamic-metadata[name='breadcrumb']/value") )
            
            #if ( $_XPathTool.selectSingleNode($page, "dynamic-metadata[name='breadcrumb']/value") && $pageDisplayName.value != "" )
                #set ( $thePageTitle = $pageDisplayName )
            #elseif ( $_XPathTool.selectSingleNode($page, "title") && $pageTitle.value != "" )
                #set ( $thePageTitle = $pageTitle )
            #else
                #set ( $thePageTitle = $page.getChild("name") )
            #end
            
            <li>$_EscapeTool.xml($thePageTitle.value)</li>
        #end
    #else
        <li><a href="${link}/${defaultPage}">$_EscapeTool.xml($theFolderTitle.value)</a></li>
    #end
#end

</ul>
