#set($crumbs = [$currentPage])
#set($count = 0)
#getParentFolders($currentPage)
<ul>
#foreach ($crumb in $crumbs)
  #if ($foreach.hasNext)  
    <li><a href="${crumb.link}">${_EscapeTool.xml($crumb.label)}</a></li>
  #else
    <li>${_EscapeTool.xml($crumb.label)}</li>
  #end
#end
</ul>
#macro (getParentFolders $asset)
   #set($parent = $asset.parentFolder)
   #set($count = $count + 1)
   #if ($parent.name != "/" && $count < 20)
       #set($x = $crumbs.add(0, $parent))
       #getParentFolders($parent)
   #else
       #break
   #end
#end
