#*
    Turns a length of time string into a human readable format.
    Examples:
        01:15   = 1 hour 15 minutes
        01:25:02 = 2 days 1 hour 2 minutes

    @param  $string the string to convert
*#
#macro (timeLengthToHuman $string)
    #set ($segments = $string.split(":"))
    #set ($totalSegments = $segments.size())
    ## Make sure we have segments first.
    #if ($totalSegments > 0)
        #set ($intArray = [])
        #set ($output = "")

        ## Reverse the array of strings and convert it to integers.
        #foreach ($key in [0..$_MathTool.sub($totalSegments, 1)])
            #set ($int = $_MathTool.toInteger($segments.get($_MathTool.sub($totalSegments,$_MathTool.add($key,1))).replaceFirst("^0+(?!$)", "")))
            #if ($int == "")
                #set ($int = 0)
            #end
            #set ($_void = $intArray.add($int))
        #end

        ## Loop through each element and output the appropriate string.
        #foreach ($key in [0..$intArray.size()])
            #if ($key > $totalSegments) #break #end

            #set ($seg = $intArray.get($key))
            #set ($interval = "")

            ## Make sure we have a valid segment.
            #if ($seg && $seg > 0)
                ## If the next segment in the array doesn't exist add it.
                #set ($nextSegmentKey = $_MathTool.add($key, 1))
                #if ($nextSegmentKey >= $totalSegments)
                    #set ($_void = $intArray.add($nextSegmentKey, 0))
                #end

                ## Minutes
                #if ($key == 0)
                    ## Check to see if the minutes are greater than 60.
                    ## If so, add to the hours value and update the minutes with the difference.
                    #if ($seg > 60)
                        #set ($numHours = $_MathTool.toInteger($_MathTool.div($seg, 60)))
                        #set ($seg = $_MathTool.mod($seg, 60))
                        #set ($_void = $intArray.set($nextSegmentKey, $_MathTool.add($intArray.get($nextSegmentKey), $numHours)))
                    #end
                    #set ($interval = $_DisplayTool.plural($seg,"minute"))
                ## Hours
                #elseif ($key == 1)
                    ## Check to see if the minutes are greater than 60.
                    ## If so, add to the hours value and update the minutes with the difference.
                    #if ($seg > 24)
                        #set ($numDays = $_MathTool.toInteger($_MathTool.div($seg, 24)))
                        #set ($seg = $_MathTool.mod($seg, 24))
                        #set ($_void = $intArray.set($nextSegmentKey, $_MathTool.add($intArray.get($nextSegmentKey), $numDays)))
                    #end
                    #set ($interval = $_DisplayTool.plural($seg,"hour"))
                ## Days
                #elseif ($key == 2)
                    #set ($interval = $_DisplayTool.plural($seg,"day"))
                #end

                ## Append to the front of the output string.
                #set ($output = "${seg} ${interval} ${output} ")
            #end
        #end
    #end

    $output
#end