#set ( $widgetSDS = $_XPathTool.selectSingleNode($contentRoot, ".") )

## Basic Required Setup Information
#set ( $wType = $widgetSDS.getChild('type').value.toLowerCase() )
#set ( $wUsername = $widgetSDS.getChild('username') )
#set ( $wQuery = $widgetSDS.getChild('query') )

## Check for required fields based on type of widget.
#set ( $wValidWidgetSettings = false )
#if ( ($wType == 'profile' || $wType == 'faves') && $wUsername && $wUsername.value != '' ) 
    #set ( $wValidWidgetSettings = true )
    
   	## Using .java because the $wSetUserMethod string being built below uses double quotes.    
    #set ( $wUsername = $_EscapeTool.java($wUsername.value) )
#elseif( $wType == 'search' && $wQuery && $wQuery.value != '' )
    #set ( $wValidWidgetSettings = true )
    
   	## Using .java because the string being built below for searching uses double quotes.        
    #set ( $wQuery = $_EscapeTool.java($wQuery.value) )
#end

## Make sure we have the required information before proceeding to build widget.
#if ( $wValidWidgetSettings == true )
    ## The Rest of the Widget Setup Information
    #set ( $wTitle = $widgetSDS.getChild('title').value)
    #if ( $wTitle && $wTitle != '' )
    	## Using .java because the string being built below uses double quotes.
        #set ( $wTitle = $_EscapeTool.java($wTitle))
    #else
        #set ( $wTitle = '')
    #end
    
    #set ( $wCaption = $widgetSDS.getChild('caption').value)
    #if ( $wCaption && $wCaption != '' )
    	## Using .java because the string being built below uses double quotes.    
        #set ( $wCaption = $_EscapeTool.java($wCaption))
    #else
        #set ( $wCaption = '')
    #end
    
    #set ( $wSetUserMethod = '' )
    #set ( $wAdditionalParams = '' )
    #if ( $wType == 'search' )
        ## If we're dealing with a Search widget, the search params must be added to the 
        ## options during initialization. See https://support.twitter.com/articles/71577 for
        ## advanced search examples.
        
        #set ( $wAdditionalParams = "search: '${wQuery}'," )
        #set ( $wAdditionalParams = $wAdditionalParams + "title: '${wTitle}'," )
        #set ( $wAdditionalParams = $wAdditionalParams + "subject: '${wCaption}'," )
    #elseif ( $wType == 'faves' )
        ## If we're dealing with a Faves widget, the setUser() method must be called before
        ## the widget start() method is called. Title and Subject are also applicable.

        #set ( $wSetUserMethod = ".setUser('${wUsername}')" )
        #set ( $wAdditionalParams = "title: '${wTitle}'," )
        #set ( $wAdditionalParams = $wAdditionalParams + "subject: '${wCaption}'," )
    #else
        ## If we're dealing with a Profile widget, the setUser() method must be called before
        ## the widget start() method is called.

        #set ( $wSetUserMethod = ".setUser('${wUsername}')" )
    #end
    
    ## Preferences
    #set ( $wPreferences = $widgetSDS.getChild('preferences') )
    #set ( $wPreferencesAdvanced = $wPreferences.getChild('advanced') )
    
    #if ( $wPreferences.getChild('live').value == 'Yes' )
        #set ( $wLive = true )
    #else 
        #set ( $wLive = false )
    #end
    
    #if ( $wPreferences.getChild('scrollbar').value == 'Yes' )
        #set ( $wScrollbar = true )
    #else 
        #set ( $wScrollbar = false )
    #end
    
    #if ( $wPreferences.getChild('behavior').value == 'Load all tweets' )
        #set ( $wBehavior = 'all' )
    #else 
        #set ( $wBehavior = 'default' )
    #end
    
    #if ( $wBehavior == 'default' && $wPreferences.getChild('loop').value == 'Yes' )
        #set ( $wLoop = true )
    #else 
        #set ( $wLoop = false )
    #end
    
    #set ( $wInterval = $wPreferences.getChild('interval').value )    
    #set ( $wRpp = $wPreferences.getChild('rpp').value )
    
    #if ( $wPreferencesAdvanced.getChild('hashtags').value == 'Yes' )
        #set ( $wHashtags = true )
    #else 
        #set ( $wHashtags = false )
    #end
    
    #if ( $wPreferencesAdvanced.getChild('avatars').value == 'Yes' )
        #set ( $wAvatars = true )
    #else 
        #set ( $wAvatars = false )
    #end
    
    #if ( $wPreferencesAdvanced.getChild('fullscreen').value == 'Yes' )
        #set ( $wFullscreen = true )
    #else 
        #set ( $wFullscreen = false )
    #end
    
    ## Appearance
    #set ( $wAppearance = $widgetSDS.getChild('appearance') )
    #set ( $wShellBg = $_EscapeTool.javascript($wAppearance.getChild('shell-background').value) )
    #set ( $wShellColor = $_EscapeTool.javascript($wAppearance.getChild('shell-text').value) )
    #set ( $wTweetBg = $_EscapeTool.javascript($wAppearance.getChild('tweet-background').value) )
    #set ( $wTweetColor = $_EscapeTool.javascript($wAppearance.getChild('tweet-text').value) )
    #set ( $wLinkColor = $_EscapeTool.javascript($wAppearance.getChild('link-text').value) )

    ## Widget Dimensions
    #set ( $wDimensions = $widgetSDS.getChild('dimensions') )
    #set ( $wHeight = $_EscapeTool.javascript($wDimensions.getChild('height').value) )
    #set ( $wWidth = $_EscapeTool.javascript($wDimensions.getChild('width').value) )
    #if ( $wDimensions.getChild('auto-width').value == 'Yes' )
        #set ( $wWidth = "'auto'" )
    #end
    
    ## Display the Widget if we have the 
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
        new TWTR.Widget({
            version: 2,
            type: '${wType}',
            rpp: $wRpp,
            interval: ${wInterval}000,
            $wAdditionalParams
            width: $wWidth,
            height: $wHeight,
            theme: {
                shell: {
                    background: '${wShellBg}',
                    color: '${wShellColor}'
                },
                tweets: {
                    background: '${wTweetBg}',
                    color: '${wTweetColor}',
                    links: '${wLinkColor}'
                }
            },
            features: {
                scrollbar: $wScrollbar,
                loop: $wLoop,
                live: $wLive,
                behavior: '${wBehavior}',
                hashtags: $wHashtags,
                avatars: $wAvatars,
                fullscreen: $wFullscreen
            }
        }).render()${wSetUserMethod}.start();
    </script>
#end