#set ( $pages = $_XPathTool.selectNodes($contentRoot, "//system-page[is-published][last-published-on]") )
<!--#protect<?xml version="1.0" encoding="UTF-8"?>#protect-->
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
#foreach ( $page in $pages )
    #set ( $link = $page.getChild("link").value )
    #set ( $last = $page.getChild("last-modified").value )
    <url>
        <loc>[system-asset]${link}[/system-asset]</loc>
        <lastmod>$_DateTool.format('yyyy-MM-dd',$_DateTool.getDate($last))</lastmod>
    </url>
#end
</urlset>
